@font-face {
    font-family: "Myriad";
    src: url("/fonts/Myriad.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans.ttf");
    font-weight: normal;
    font-style: normal;
}

@media (width <= 960px) {
    .PC_ONLY {
        display: none !important;
    }
}
@media (960px < width) {
    .SP_ONLY {
        display: none !important;
    }
}

/*カラースキーム*/
:root {
    --bgThemeColor: #ebf0ff;
    --bgPlainColor: #ffffff;
    --bgThinColor: #cccccc;
    --hoverColor: #dddddd;
    --pColor: #202124;
    --linkColor: #1558d6;
    --shadowColor: #7a7a7a;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: 0.25s;
    line-height: 1.35em;
    font-family: "Myriad", "Noto", sans-serif;
}

html {
    padding: 0;
    background: var(--bgThemeColor);
    overflow-y: scroll;
}
body {
    margin: 0;
    position: relative;
    display: flow-root;
}
h1 {
    text-align: center;
}
p {
    margin: 1em;
}
p,
span,
h1,
h2,
h3,
th,
td {
    color: var(--pColor);
}
a {
    color: var(--linkColor);
}
/*positioning*/
.left {
    float: left;
    text-align: left;
}
.leftAlone {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
